<%- include('../partials/header') %>


<%- include('../partials/footer') %>
<section class = 'post' id="list">
    <% groups.forEach(function(g) { %>
    <div>Owner: </div>
    <div><%= g.ownerName %></div>
    <div>Members:</div>
    <div><%= g.memberName %></div>
    <div>Group:</div>
    <div><%= g.groupName %></div>
    <% }); %>
    
    <form id="delete-note" action="/groups<%= /:id/%>"  style="width:75;left:0" method="DELETE" enctype="multipart/form-data">
        <button type="submit">Delete Group</button>
 </section>