<%- include('../partials/header') %>


<section class = 'post' id="list">
    <ul>
    <% groups.forEach(function(g) { %>
        <li>Owner: <%= g.ownerName %></li>
        <li>Member:<%= g.memberName %></li>
        <li>Group:<%= g.groupName %></li>
        <form class = "delete-form" action="/groups/<%= g.id %>? _method=DELETE"  style="width:75;left:0" method="POST">
            <button type="submit">Delete Group</button>
        <% }); %>
    </ul> 
</section>

<%- include('../partials/footer') %>