<%- include('../partials/header') %>


<section class = 'post' id="list">
    <table>
    <% groups.forEach(function(g) { %>
        <th>Owner:</th>
        <th><%= g.ownerName %></th>
        <th>Member:</th>
        <th><%= g.memberName %></th>
        <th>Group:</th>
        <th><%= g.groupName %></th>
        <% }); %>
    </table> 
        <form id="delete-note" action="/groups<%= /:id/%>"  style="width:75;left:0" method="DELETE" enctype="multipart/form-data">
            <button type="submit">Delete Group</button>
        </section>

        <%- include('../partials/footer') %>