<%- include('../partials/header') %>
<section class = 'post' id="list">
    <table>
        <% (function(g) { %>
        <th>Owner:</th>
        <th><%= g.ownerName %></th>
        <th>Member:</th>
        <th><%= g.memberName %></th>
        <th>Group:</th>
        <th><%= g.groupName %></th>
        <% }); %>
    </table>
 </section>

<%- include('../partials/footer') %>
