<%- include('../partials/header') %>
<section class = 'post' id="list">
    <div>Owner: </div>
    <% (function(g) { %>
    <div><%= g.ownerName %></div>
    <div>Member:</div>
    <div><%= g.memberName %></div>
    <div>Group:</div>
    <div><%= g.groupName %></div>
    <% }); %>
 </section>

<%- include('../partials/footer') %>
