<%- include('../partials/header') %>

<div id="list" class ='post'>
    <div id="column-1" class="post">
      <% notes.forEach(function(n) { %>
      <%= n.noteName %>| 
      <%= n.courseName %>| 
      <%= n.groupName %>| 
      <%= n.subject %>|
      <%= n.text %>
      <% }); %>

      <a href="/notes<%= /:id/ %>"  style="color:black" <%- title === 'Delete Note' ? 'class="active"' : '' %>>DELETE NOTE</a>
    | <a href="/notes/new" style="color:black" <%- title === 'Add Note' ? 'class="active"' : '' %>>COMPOSE NOTE</a>

    </div>
</div>
    
  
<%- include('../partials/footer') %>

