<%- include('../partials/header') %>

<div id="list" class ='post'>
    <div id="column-1" class="post">
      <ul>
        <% notes.forEach(function(notes) { %>
        <li><%= notes.noteName %></li><br>
        <li>Subject:<%= notes.subject %></li><br>
        <!-- <li>Class:<%= notes.className %></li><br>
        <li>Group:<%= notes.groupName %></li><br> -->
        <li>Text:<%= notes.text %></li><br>
        <li>Image:<%= notes.image %></li><br>
        <form class = "delete-form" action="/notes/<%= notes.id %>? _method=DELETE"  style="width:75;left:0" method="POST">
           <button type="submit">Delete Note</button>
        <li><% }); %></li>
    </ul>


    </div>
</div>
    
  
<%- include('../partials/footer') %>

