<%- include('../partials/header') %>

<div id="list" class ='post'>
    <div id="column-1" class="post">
      <table>
        <% notes.forEach(function(notes) { %>
        <th><%= notes.noteName %></th><br>
        <th>Subject:</th>
        <th><%= notes.subject %></th><br>
        <th>Class: </th>
        <th><%= notes.className %></th><br>
        <th>Group:</th>
        <th><%= notes.groupName %></th><br>
        <th>Text:</th>
        <th><%= notes.text %></th><br>
        <th><% }); %></th>
    </table>

   <form id="delete-note" action="/notes<%= /:id/%>"  style="width:75;left:0" method="DELETE" enctype="multipart/form-data">
      <button type="submit">Delete Note</button>

    </div>
</div>
    
  
<%- include('../partials/footer') %>

