<%- include('../partials/header') %>

<div id="list" class ='post'>
    <div id="column-1" class="post">
      <% notes.forEach(function(n) { %>
      <%= n.noteName %>| 
      <%= n.courseName %>| 
      <%= n.groupName %>| 
      <%= n.subject %>|
      <%= n.text %>
      <% }); %>

    | <form id="delete-note" action="/notes<%= /:id/%>"  style="width:75;left:0" method="DELETE" enctype="multipart/form-data">
      <button type="submit">Delete Note</button>

    </div>
</div>
    
  
<%- include('../partials/footer') %>

