<%- include('../partials/header') %>

<div id="list" class ='post'>
    <div id="column-1" class="post">
      <% notes.forEach(function(n) { %>
      <hr><%= n.noteName %>| <%= n.courseName %>| <%= n.groupName %>| <%= n.subject %>|</hr> 
      
      <%= n.text %>
      <% }); %>

      <a href="/notes<%= /:id/ %>"  style="color:black" <%- title === 'DeleteNote' ? 'class="active"' : '' %>>DELETE NOTE</a>
    | <a href="/notes/new" style="color:rgba(0, 0, 0, 0)" <%- title === 'Add Note' ? 'class="active"' : '' %>>COMPOSE NOTE</a>

    </div>
</div>
    
  <div id = 'list' class = 'post'>
    <% notes.forEach(function(n) { %>
      <tr>
        <td><%= n.noteName %></td>
        <td><%= n.courseName %></td>
        <td><%= n.groupName %></td>
        <td><%= n.subject %></td>
        <td><%= n.text %></td>
      </tr>
    
      <% }); %>
      
    </tbody>
  </div>
  
<%- include('../partials/footer') %>

