<%- include('../partials/header') %>

<section id="list">
    <% (function(notes) { %>
    <div>Notes: </div>
    <div class ='post'>
        <table>
            <th><%= notes.noteName %></th>
            <th>Subject:</th>
            <th><%= notes.subject %></th>
            <th>Class: </th>
            <th><%= notes.className %></th>
            <th>Group:</th>
            <th><%= notes.groupName %></th>
            <th>Text:</th>
            <th><%= notes.text %></th>
            <th><% }); %></th>
        </table>
    </div>
 </section>

<%- include('../partials/footer') %>
