<%- include('../partials/header') %>

<section id="list">
    <% (function(notes) { %>
        <div class ='post'>
            <div>Notes: </div>
            <ul>
                <li><%= notes.noteName %></li><br>
                <li>Subject:<%= notes.subject %></li><br>
                <!-- <li>Class:<%= notes.className %></li><br> -->
                <!-- <li>Group:<%= notes.groupName %></li><br> -->
                <li>Text:<%= notes.text %></li><br>
                <li>Image:<%= notes.image %></li><br>
                <li><% }); %></li>
            </ul>
        </div>
 </section>

<%- include('../partials/footer') %>
