<%- include('../partials/header') %>

<section id="list">
    <% (function(notes) { %>
    <div>Notes: </div>
    <div><%= notes.noteName %></div>
    <div>Subject:</div>
    <div><%= notes.subject %></div>
    <div>Class: </div>
    <div><%= notes.className %></div>
    <div>Group:</div>
    <div><%= notes.groupName %></div>
    <div>Text:</div>
    <div><%= notes.text %></div>
    <% }); %>
 </section>

<%- include('../partials/footer') %>
